.message {
  display: grid;
  grid-template-columns: 60px 1fr 20px;
  margin-bottom: 15px;
  width: auto;
  max-width: 70%;
  border-radius: 10px;
  font-size: 18px;

  .message-body {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #e5e5e5;
    border-radius: 10px;
    padding: 10px;
    min-width: 100px;
  }

  .message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #14213d;
    font-size: 20px;
  }

  .message-text {
    line-height: 1.3;
    overflow: hidden;
    padding: 10px 0;
    margin: 2px 0;
  }

  .message-like-time {
    display: flex;
    justify-content: space-between;
  }

  .like-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .message-like {
    color: transparent;
    text-shadow: 0px 0px 0px white;
    user-select: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 1px;
    margin-right: 3px;

    &:focus {
      outline: 0;
    }
  }

  .like-count {
    margin-right: 15px;
  }

  .button {
    user-select: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 1px;
    margin-left: 5px;

    &:focus {
      outline: 0;
    }
  }
}
