.message-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.message-input-text {
  width: 82%;
  height: auto;
  min-height: 50px;
  padding: 5px;
  line-height: 1.4;
  border: 1px solid black;
  resize: none;
}

.message-input-button {
  font-size: 18px;
  align-self: center;
  width: 120px;
  height: 62px;
  color: #fff;
  background-color: #3d405b;
  border: 0;
  user-select: none;
  cursor: pointer;
  margin: 0 auto;
}
